name: Build

on:
  push:
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - 'extras/images/**'

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - { name: "macOS", os: macos-latest, extension: "dmg" }
        - { name: "Ubuntu", os: ubuntu-latest, extension: "deb" }
        - { name: "Windows", os: windows-latest, extension: "msi" }

    steps:
      - uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: "17"

      - name: Verify
        run: java -version

      - name: Install application certificate
        uses: apple-actions/import-codesign-certs@v2
        if: runner.os == 'macOS'
        with:
          keychain: ${{ github.run_id }}
          keychain-password: ${{ github.run_id }}
          p12-file-base64: ${{ secrets.MACOS_CERTIFICATE }}
          p12-password: ${{ secrets.MACOS_CERTIFICATE_PWD }}

      - name: Build
        env:
          SIGNING_IDENTITY: ${{ secrets.SIGNING_IDENTITY }}
        run: ./gradlew clean package

      - name: Notarize
        if: runner.os == 'macOS'
        env:
          SIGNING_IDENTITY: ${{ secrets.SIGNING_IDENTITY }}
          NOTARIZATION_APPLE_ID: ${{ secrets.NOTARIZATION_USERNAME }}
          NOTARIZATION_TEAM_ID: ${{ secrets.NOTARIZATION_TEAM_ID }}
          NOTARIZATION_PASSWORD: ${{ secrets.NOTARIZATION_PASSWORD }}
        run: ./gradlew notarizeDmg

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.config.name }}-artifact
          path: build/compose/binaries/main/*/*.${{ matrix.config.extension }}

      - name: Release
        id: upload-release-asset
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/compose/binaries/main/*/*.${{ matrix.config.extension }}
